<html>
<head>
<title>HillWalker</title>

<script src="http://www.mapquestapi.com/sdk/js/v7.0.s/mqa.toolkit.js?key=Fmjtd%7Cluu7n1u2nq%2C2l%3Do5-5rbad"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">

      /*An example of using the MQA.EventUtil to hook into the window load event and execute defined function
      passed in as the last parameter. You could alternatively create a plain function here and have it
      executed whenever you like (e.g. <body onload="yourfunction">).*/

    $(document).ready(function(){
      MQA.EventUtil.observe(window, 'load', function() {

        /*Create an object for options*/
        var options={
          elt:document.getElementById('map'),        /*ID of element on the page where you want the map added*/
          zoom:13,                                   /*initial zoom level of map*/
          latLng:{lat:53.010278, lng:-6.3275},   /*center of map in latitude/longitude*/
          mtype:'map',                               /*map type (map)*/
          bestFitMargin:0,                           /*margin offset from the map viewport when applying a bestfit on shapes*/
          zoomOnDoubleClick:false                     /*zoom in when double-clicking on map*/
        };

        /*Construct an instance of MQA.TileMap with the options object*/
        window.map = new MQA.TileMap(options);
       
		   
		MQA.withModule('viewoptions', function() {
		    window.map.addControl(
      			new MQA.ViewOptions()
		    );
 		 });
       
		MQA.EventManager.addListener(window.map, 'moveend', eventMoveEnd);
		MQA.EventManager.addListener(map, 'maptypechanged', eventMoveEnd);
 		eventMoveEnd(null);
 		
 		var imageOverlay;
	
  		function eventMoveEnd(evt){
			var currentUpperLeftLat = window.map.getBounds().ul.getLatitude();
			var currentUpperLeftLng = window.map.getBounds().ul.getLongitude();
			$('#output-ul').html('top-left: (' + currentUpperLeftLat + ',' + currentUpperLeftLng + ')</br>');
			var currentLowerRightLat = window.map.getBounds().lr.getLatitude();
			var currentLowerRightLng = window.map.getBounds().lr.getLongitude();
			$('#output-lr').html('lower-right: (' + currentLowerRightLat + ',' + currentLowerRightLng + ')</br>');
			$("#image-link").attr("href", "/contour_image/?ul=" + currentUpperLeftLat + ',' + currentUpperLeftLng + '&lr=' + currentLowerRightLat + ',' + currentLowerRightLng)
			
    /*Set the URL of the image*/
    		MQA.withModule('shapes', function() {
    			if (imageOverlay) {
    				map.removeShape(imageOverlay);
    			}
   				imageOverlay = new MQA.ImageOverlay(); 
    			imageOverlay.imageURL="/contour_image/?ul=" + currentUpperLeftLat + ',' + currentUpperLeftLng + '&lr=' + currentLowerRightLat + ',' + currentLowerRightLng + '&mtype=' + window.map.getMapType();

			    /*Sets the shape points. They must be in the following order [upper left latitude, upper left longitude, 
    			lower right latitude, lower right longitude] to define the upper left and lower right corners of the rectangle.*/ 
	    		imageOverlay.shapePoints=[currentUpperLeftLat, currentUpperLeftLng, currentLowerRightLat, currentLowerRightLng];
	    		map.addShape(imageOverlay);
	    	});

    /*Add to the map's default shape collection*/ 
  		}

		
      });
    });


    </script>
  </head>

  <body >
  <div style="margin-left:2px; width:794px; height:239px; background-image:url('{{STATIC_URL}}hills.jpg');" >
  	<div style="position: relative; top: 190px;left: 190px;">
  	<div style="float: left;"><img src="{{STATIC_URL}}mq_logo.png"></div><div style="float: left;font-family: sans-serif;font-weight: bold;font-size: 22px;top: 14px;left: 12px;position: relative;">HillWalker</div>
  	</div>
   </div>
   <div style="margin-left:0px; width:794px; height:810px; background-image:url('{{STATIC_URL}}grass.jpg'); padding-top: 20px;" >
    <div id='map' style='background-color:rgba(0, 0, 0, 0.6); display: block; padding: 8px; margin-left: 200px; margin-bottom: 100px; width:400px; height:400px;'></div>
    <div id='output-ul' style='opacity: 0.2; font-family:"courier"' >Output:<br/></div>
    <div id='output-lr' style='opacity: 0.2; font-family:"courier"' >Output:<br/></div>
    <a style = "opacity: 0.2" id="image-link" href="">link to contour image</a>
	</div>  
  </body>
</html>

